<link rel="stylesheet" href="/css/user_profile.css">

<!-- adding layout content --> 
    <h1>Codeial / Profile Page</h1>

    <p><%= profile_of_user.name%></p>
    <p><%= profile_of_user.email%></p>


   

